/* #Imports
   ================================================== */

@import "base";
@import "mybootstrap";
@import "bootstrap/variables";
@import "compass/css3/transform";
@import "compass/css3/text-shadow";
@import "type";
@import "forms";
@import "font-awesome";


/* #Base styles
   ================================================== */

/* #For devel */
div,
nav,
header,
footer,
section {
  //outline: 1px solid #B94A48 !important;
}



/* #Site Styles
   ================================================== */


body {
  line-height: 2.3rem;
  background-color: #F8F8F8;
}

.loginPage {
  .navbar .brand {
    text-align: center;
    float: none;
    margin: 0;
  }
}

/* Layout structure
   ================================================== */
#header {
  height:66px;
  border-bottom: 1px solid #c4c4c4;
  @include box-shadow(0 1px 0px rgba(255, 255, 255, 1));
  position: absolute;
  top:0;
  left:0;
  right:0;
  z-index: 1000;
}

#header .logo {
  padding: 7px 0 2px 20px;
  a {
    color: #353535;
    &:hover {
      text-decoration:none;
    }
  }
  span.slogan {
    font-size:14px;
    color: #6b6b6b;
  }
}

.navbar {
  color: #3f3f3f;
  position: relative;
  margin-bottom: 0;
}

.navbar-inner {
  min-height: 66px;
  padding-right: 0px;
  padding-left: 20px;
  @include border-radius(0px);
  box-shadow: none;
  border:none;
}
.navbar .brand {
  padding: 8px 20px 12px;
  margin-left: -20px;
  margin-right: 55px;
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
  color: #353535;
  .slogan {font-size:14px; color: #6b6b6b;}
}

.navbar .nav {
  margin: 15px 10px 5px 20px;
  > li {
    display: block;
    float: left;
    margin-right:20px;
    position: relative;
    > a {
      float: none;
      line-height: 18px;
      font-size: 12px;
      color: #555;
      padding:8px 10px;
      border:1px solid;
      @include border-radius(2px);
      position: relative;
      @include text-shadow(0 1px 0 white);
      border-color: #CCC #CCC #AAA;
      background-color: #E0E0E0;
      @include box-shadow(inset 0 0 1px #fff);
      filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#fffafafa,EndColorStr=#ffdcdcdc);
      background-image: -moz-linear-gradient(top,#FAFAFA 0,#DCDCDC 100%);
      background-image: -ms-linear-gradient(top,#FAFAFA 0,#DCDCDC 100%);
      background-image: -o-linear-gradient(top,#FAFAFA 0,#DCDCDC 100%);
      background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#FAFAFA),color-stop(100%,#DCDCDC));
      background-image: -webkit-linear-gradient(top,#FAFAFA 0,#DCDCDC 100%);
      background-image: linear-gradient(to bottom,#FAFAFA 0,#DCDCDC 100%);
    }
    a:hover {
      color: #3f3f3f;
      background: rgb(232,232,232);
      background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U4ZThlOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmOWY5ZjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
      background: -moz-linear-gradient(top,  rgba(232,232,232,1) 0%, rgba(249,249,249,1) 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(232,232,232,1)), color-stop(100%,rgba(249,249,249,1)));
      background: -webkit-linear-gradient(top,  rgba(232,232,232,1) 0%,rgba(249,249,249,1) 100%);
      background: -o-linear-gradient(top,  rgba(232,232,232,1) 0%,rgba(249,249,249,1) 100%);
      background: -ms-linear-gradient(top,  rgba(232,232,232,1) 0%,rgba(249,249,249,1) 100%);
      background: linear-gradient(top,  rgba(232,232,232,1) 0%,rgba(249,249,249,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#f9f9f9',GradientType=0 );
      text-decoration:none;
      border-color: rgb(170, 170, 170) rgb(170, 170, 170) rgb(153, 153, 153);
      -webkit-box-shadow:  0px 1px 2px rgba(0, 0, 0, 0.25), 0px 0px 3px rgb(255, 255, 255) inset;
      -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25), 0px 0px 3px rgb(255, 255, 255) inset;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25), 0px 0px 3px rgb(255, 255, 255) inset;
    }
  }
  .active > a {
    color: #3f3f3f;
    text-decoration: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='false');
    background: #fff;
    box-shadow: none;
    &:after{
      content:"";
      background: url(../images/arrowdown.png) no-repeat;
      width:11px;
      height:8px;
      position: absolute;
      bottom:-8px;
      left:50%;
      margin-left:-5px;
    }
    &:hover {
      border-color: rgb(170, 170, 170) rgb(170, 170, 170) rgb(153, 153, 153);
      @include box-shadow(0px 1px 2px rgba(0, 0, 0, 0.25), 0px 0px 3px rgb(255, 255, 255) inset);
      background: #fff;
      color: #3f3f3f;
    }
  }
  .avatar {
    position: relative;
    padding-left:44px;
  }
  .navbar .nav .image {
    position: absolute;
    left:1px;
    top:1px;
    width:36px;
    height:32px;
  }
  .dropdown-menu:before {
    content: "";
    position: absolute;
    top:-13px !important;
    background: url(../images/arrowup.png) no-repeat !important;
    width:15px !important;
    height:14px !important;
    border:none !important;
    z-index: 5;
  }
  li.dropdown ul a:hover {
    color: rgb(63, 63, 63);
    background: none;
    text-decoration: underline;
    border: none;
    box-shadow: none;
  }
}

.dropdown-menu {
  font-size:12px;
  position: absolute;
  top: 55px;
  left: 0;
  z-index: 9999;
  display: none;
  float: left;
  min-width: 160px;
  padding: 4px;
  margin: 0;
  list-style: none;
  background: #efefef;
  border: 1px solid #c4c4c4;
  @include border-radius(2px);
  @include box-shadow(0 1px 0px rgba(255, 255, 255, 1));
  @include background-clip(padding-box);
  a {
    display: inline-block;
    padding:5px 0 5px 5px;
    clear: both;
    font-weight: normal;
    line-height: 14px;
    color: #333;
    white-space:normal;
    width: 98%;
  }
  .menu {
    border: 1px solid #c4c4c4;
    @include border-radius(2px);
    display: block;
    float: left;
    background: #fff;
    padding:0 10px;
    margin-bottom: 0;
    min-width: 150px;
    ul {
      list-style:none;
      margin: 0;
    }
    li {
      border-bottom: 1px solid #ebebeb;
      margin:0;
      padding-bottom: 8px;
      padding-top:10px;
      line-height:14px;
      width:100%;
    }
    ul li a span {
      margin-right: 15px;
    }
  }
}

/*Red style*/
.notification {
  padding:0px 7px 0px 7px; 
  color:#fff;
  background: #ed7a53;
  @include border-radius(2px);
  font-weight:700;
  font-size:12px;
  font-family: Tahoma;
  position: absolute;
  top:-11px;
  right:-10px;
  @include box-shadow(0px 1px 0px 0px rgba(0, 0, 0, 0.2));
  text-shadow:none;
}

.notification.green {background: #9fc569;}/*green style*/
.notification.blue { background: #88bbc8;}/*blue style*/


.right {
  float: right;
}

.left {
  float: left;
}

#wrapper {
  height: auto;
  min-height: 100%;
  position: relative;
}

#content {
  padding: 67px 25px 25px 25px;
  margin-left: 213px;
  padding-top: 67px;
  min-height: 100%;
  background: url(../images/patterns/5.png) repeat;
}
.contentwrapper {
  float: left;
  width: 100%;
}
#sidebarbg {
  left: 0;
  z-index: 0;
  position: absolute;
  top:0;
  bottom:0;
  border-right: 1px solid #d9d9d9;
  background: url(../images/patterns/2.png) repeat;
  width: 210px;
}
#sidebar {
  width: 210px;
  padding-top: 67px;
  float: left;
  z-index: 1;
  position: relative;
}

#sidebar .shortcuts {
  border-bottom: 1px solid #c4c4c4;
  background: rgb(255,255,255);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmM2YzZjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 1%, rgba(243,243,243,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(255,255,255,1)), color-stop(100%,rgba(243,243,243,1)));
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 1%,rgba(243,243,243,1) 100%);
  background: -o-linear-gradient(top,  rgba(255,255,255,1) 1%,rgba(243,243,243,1) 100%);
  background: -ms-linear-gradient(top,  rgba(255,255,255,1) 1%,rgba(243,243,243,1) 100%);
  background: linear-gradient(top,  rgba(255,255,255,1) 1%,rgba(243,243,243,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3',GradientType=0 );
  position: relative;
  -moz-box-shadow:0 1px 0px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0 1px 0px rgba(255, 255, 255, 1);
  box-shadow: 0 1px 0px rgba(255, 255, 255, 1);
  height: auto;
  width: 100%;
  padding-bottom: 0px;
  padding-top:7px;
  float: left;
}
.shortcuts ul {
  list-style: none;
  margin:0;
  text-align: center;
  width: 100%;
}
.shortcuts ul li {display: inline-block; margin-bottom: 0; margin-left:3px; padding-bottom: 0;}
.shortcuts li a {
  float: left;
  padding:6px 2px 1px 2px;
  width:34px;
  border: 1px solid;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  position: relative;
  -webkit-text-shadow: 0 1px 0 white;
  -moz-text-shadow: 0 1px 0 white;
  text-shadow: 0 1px 0 white;
  border-color: #CCC #CCC #AAA;
  background-color: #E0E0E0;
  -moz-box-shadow: inset 0 0 1px #fff;
  -ms-box-shadow: inset 0 0 1px #fff;
  -webkit-box-shadow: inset 0 0 1px white;
  box-shadow: inset 0 0 1px white;
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#fffafafa,EndColorStr=#ffdcdcdc);
  background-image: -moz-linear-gradient(top,#FAFAFA 0,#DCDCDC 100%);
  background-image: -ms-linear-gradient(top,#FAFAFA 0,#DCDCDC 100%);
  background-image: -o-linear-gradient(top,#FAFAFA 0,#DCDCDC 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#FAFAFA),color-stop(100%,#DCDCDC));
  background-image: -webkit-linear-gradient(top,#FAFAFA 0,#DCDCDC 100%);
  background-image: linear-gradient(to bottom,#FAFAFA 0,#DCDCDC 100%);
}
.shortcuts li a:hover {
  border:1px solid;
  background: rgb(232,232,232);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U4ZThlOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmOWY5ZjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(232,232,232,1) 0%, rgba(249,249,249,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(232,232,232,1)), color-stop(100%,rgba(249,249,249,1)));
  background: -webkit-linear-gradient(top,  rgba(232,232,232,1) 0%,rgba(249,249,249,1) 100%);
  background: -o-linear-gradient(top,  rgba(232,232,232,1) 0%,rgba(249,249,249,1) 100%);
  background: -ms-linear-gradient(top,  rgba(232,232,232,1) 0%,rgba(249,249,249,1) 100%);
  background: linear-gradient(top,  rgba(232,232,232,1) 0%,rgba(249,249,249,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#f9f9f9',GradientType=0 );
  text-decoration:none;
  border-color: rgb(170, 170, 170) rgb(170, 170, 170) rgb(153, 153, 153);
  -webkit-box-shadow:  0px 1px 2px rgba(0, 0, 0, 0.25), 0px 0px 3px rgb(255, 255, 255) inset;
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25), 0px 0px 3px rgb(255, 255, 255) inset;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25), 0px 0px 3px rgb(255, 255, 255) inset;
  -webkit-transition: background 0.5s ease-in-out;
  -moz-transition: background 0.5s ease-in-out;
  -ms-transition: background 0.5s ease-in-out;
  -o-transition: background 0.5s ease-in-out;
  transition: background 0.5s ease-in-out;
}
.shortcuts li a:hover span {
  color: #3399cc;
  -webkit-transition: color 0.5s ease-in-out;
  -moz-transition: color 0.5s ease-in-out;
  -ms-transition: color 0.5s ease-in-out;
  -o-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}
.shortcuts li a span {margin-top:3px;}


.search { 
  float: right;
  position: relative;
  padding-right:12px;
}
.search form {
  margin-bottom: 0;
}
.search .top-search {
  width:75%;
  margin: 10px 10px;
  border-radius:10px;
  -moz-border-radius:10px;
  -webkit-border-radius: 10px;
  border-color: #d9d7d7;
  padding-left:25px;
}
.search .search-btn {
  background: url(../images/search.png) no-repeat;
  border: none;
  width:20px;
  height:20px;
  position: absolute;
  top:15px;
  left:18px;
}

.sidenav {
  float: left;
  margin-left:1px;
}
.mainnav ul {
  list-style:none;
  margin:0;
}
.mainnav li {
  display: block;
  float: left;
  width:100%;
  margin:0;
  padding: 0;
}
.mainnav li a {
  position: relative;
  font-size:14px;
  height:38px;
  float: left;
  width:100%;
  line-height:38px;
  border-bottom: 1px solid #c4c4c4;
  border-top: 1px solid white;
  -moz-box-shadow:0 1px 0px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0 1px 0px rgba(255, 255, 255, 1);
  box-shadow: 0 1px 0px rgba(255, 255, 255, 1);
  color: #3f3f3f;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.mainnav li a:hover {
  text-decoration:none;
  background: rgb(255,255,255);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmM2YzZjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 1%, rgba(243,243,243,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(255,255,255,1)), color-stop(100%,rgba(243,243,243,1)));
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 1%,rgba(243,243,243,1) 100%);
  background: -o-linear-gradient(top,  rgba(255,255,255,1) 1%,rgba(243,243,243,1) 100%);
  background: -ms-linear-gradient(top,  rgba(255,255,255,1) 1%,rgba(243,243,243,1) 100%);
  background: linear-gradient(top,  rgba(255,255,255,1) 1%,rgba(243,243,243,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3',GradientType=0 );
  color: #1f1f1f;
}
.mainnav li a.current, .mainnav li a.current:hover {
  background:url(../images/patterns/5.png) repeat;
  width: 101%;
  margin-left:-1px;
}
.mainnav li a span[class*=" icon-"], .mainnav li a span[class*=" brocco-icon-"], .mainnav li a span[class*=" cut-icon-"], .mainnav li a span[class*=" entypo-icon-"], .mainnav li a span[class*=" icomoon-icon-"],.mainnav li a span[class*=" minia-icon-"],.mainnav li a span[class*=" iconic-icon-"],.mainnav li a span[class*=" meteo-icon-"],.mainnav li a span[class*=" silk-icon-"],.mainnav li a span[class*=" typ-icon-"],.mainnav li a span[class*=" wpzoom-"],.mainnav li a span[class*=" eco-"]  {
  padding-left:10px;
  padding-right:10px;
}
.mainnav .notification {
  line-height:21px;
  top:8px;
  right:30px;
}
.mainnav ul li .sub {
  display: none;
  float: left;
  background: rgb(255,255,255);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmM2YzZjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 1%, rgba(243,243,243,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(255,255,255,1)), color-stop(100%,rgba(243,243,243,1)));
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 1%,rgba(243,243,243,1) 100%);
  background: -o-linear-gradient(top,  rgba(255,255,255,1) 1%,rgba(243,243,243,1) 100%);
  background: -ms-linear-gradient(top,  rgba(255,255,255,1) 1%,rgba(243,243,243,1) 100%);
  background: linear-gradient(top,  rgba(255,255,255,1) 1%,rgba(243,243,243,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3',GradientType=0 );
  margin-top:0px;
}
.mainnav ul li .sub.expand {display: block;}

.mainnav ul li .sub li a{font-size: 13px; border-bottom: 1px solid transparent; box-shadow:none; border-top: 1px solid transparent;}
.mainnav ul li .sub li a.current {
  border-bottom: 1px solid #c4c4c4;
  border-top: 1px solid #c4c4c4;
  -moz-box-shadow:0 1px 0px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0 1px 0px rgba(255, 255, 255, 1);
  box-shadow: 0 1px 0px rgba(255, 255, 255, 1);
}
.mainnav ul li .sub li a.current:hover{
  background:url(../images/patterns/5.png) repeat;
  border-top:1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
}
.mainnav ul li .sub li:first-child a.current {border-top:none;}
.mainnav ul li .sub li:last-child{
  border-bottom: 1px solid #c4c4c4;
  -moz-box-shadow:0 1px 0px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0 1px 0px rgba(255, 255, 255, 1);
  box-shadow: 0 1px 0px rgba(255, 255, 255, 1);
}
.mainnav ul li .sub li a:hover {
  background: rgb(255,255,255);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmM2YzZjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 1%, rgba(243,243,243,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(255,255,255,1)), color-stop(100%,rgba(243,243,243,1)));
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 1%,rgba(243,243,243,1) 100%);
  background: -o-linear-gradient(top,  rgba(255,255,255,1) 1%,rgba(243,243,243,1) 100%);
  background: -ms-linear-gradient(top,  rgba(255,255,255,1) 1%,rgba(243,243,243,1) 100%);
  background: linear-gradient(top,  rgba(255,255,255,1) 1%,rgba(243,243,243,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3',GradientType=0 );
  color: #1f1f1f;
  border-bottom: 1px solid #dfdfdf;
  border-top: 1px solid #dfdfdf;
}
.mainnav ul li .sub li {
  width:100%;
}
.mainnav ul li .sub li:first-child a:hover {
  border-top:1px solid transparent;
}
.mainnav ul li .sub li:last-child a:hover {
  border-top: 1px solid transparent;
  border-bottom: none;
}
.mainnav ul li .sub a span[class*=" icon-"], .mainnav ul li .sub a span[class*=" brocco-icon-"],.mainnav ul li .sub a span[class*=" cut-icon-"],.mainnav ul li .sub a span[class*=" entypo-icon-"],.mainnav ul li .sub a span[class*=" icomoon-icon-"], .mainnav ul li .sub a span[class*=" minia-icon-"],.mainnav ul li .sub a span[class*=" iconic-icon-"],.mainnav ul li .sub a span[class*=" meteo-icon-"],.mainnav ul li .sub a span[class*=" silk-icon-"],.mainnav ul li .sub a span[class*=" typ-icon-"],.mainnav ul li .sub a span[class*=" wpzoom-"],.mainnav ul li .sub a span[class*=" eco-"] {
  padding-left:25px;
  padding-right:10px;
}
.mainnav ul li .sub li .sub a span[class*=" icon-"], .mainnav ul li .sub li .sub a span[class*=" brocco-icon-"], .mainnav ul li .sub li .sub a span[class*=" cut-icon-"], .mainnav ul li .sub li .sub a span[class*=" entypo-icon-"], .mainnav ul li .sub li .sub a span[class*=" icomoon-icon-"], , .mainnav ul li .sub li .sub a span[class*=" minia-icon-"], .mainnav ul li .sub li .sub a span[class*=" iconic-icon-"], .mainnav ul li .sub li .sub a span[class*=" meteo-icon-"], .mainnav ul li .sub li .sub a span[class*=" silk-icon-"], .mainnav ul li .sub li .sub a span[class*=" typ-icon-"], .mainnav ul li .sub li .sub a span[class*=" wpzoom-"],.mainnav ul li .sub li .sub a span[class*=" eco-"]  {
  padding-left:35px;
  padding-right:10px;
}
.mainnav .hasDrop {position: absolute; right:-7px; top:12px;}
